<footer class="site-footer">
  <div class="footer-container">
    <div class="footer-copyright">&copy; {% year %} Justin Fowler</div>
    <div class="footer-links">
      <a href="https://www.linkedin.com/in/sjustinfowler/" aria-label="LinkedIn">LinkedIn</a>
      <a
        href="https://github.com/SomewhatJustin"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Justin's GitHub"
        >GitHub</a
      >
      <a href="https://x.com/somewhatjustin">X/Twitter</a>
      <a href="https://mastodon.social/@justinfowler">Mastodon</a>
    </div>
  </div>
</footer>
