<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - Justin Fowler</title>
    <link rel="preconnect" href="https://fonts.bunny.net">
    <link href="https://fonts.bunny.net/css?family=atkinson-hyperlegible:400,600,700" rel="stylesheet" />
    <link rel="stylesheet" href="/main.css">
</head>
<body class="homepage">
    {% include "header.html" %}

    <main class="content-wrapper">
        {{ content }}
    </main>

    {% include "footer.html" %}

    {% include "scripts.html" %}
</body>
</html> 
