<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/main.css" />
    <title>{% if title %}{{ title }} - {% endif %}Justin Fowler's Website</title>

    <meta property="og:type" content="article" />
    <meta property="og:title" content="{% if title %}{{ title }}{% else %}Justin Fowler's Website{% endif %}" />
    <meta property="og:description" content="{{ content | strip_html | truncate: 160 }}" />
    {% if content contains '<img' %}
    {% assign images = content | split: '<img' %}
    {% assign firstImage = images[1] | split: 'src="' %}
    {% assign imageUrl = firstImage[1] | split: '"' | first %}
    <meta property="og:image" content="https://justin.how{{ imageUrl }}" />
    {% endif %}

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="{% if title %}{{ title }}{% else %}Justin Fowler's Website{% endif %}" />
    <meta name="twitter:description" content="{{ content | strip_html | truncate: 160 }}" />
    {% if content contains '<img' %}
    <meta name="twitter:image" content="https://justin.how{{ imageUrl }}" />
    {% endif %}
  </head>
  <body>
    {% include "header.html" %}

    <main class="content-wrapper">
      {% if title %}
      <h1>{{ title }}</h1>
      {% if date %}
      <p id="date">{{ date | date: "%b %d, %Y" }}</p>
      {% endif %}
      {% endif %}
      {{ content }}
    </main>

    {% include "footer.html" %}
  </body>
</html>
